body {
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    font-family: 'Tahoma';
    color: antiquewhite;

    h1 {
        text-align: center;
    }
}

#weather-search-box {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
    box-shadow: 4px 4px darkslateblue;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;

    button {
        margin-left: auto;
        margin-right: auto;
    }

    input {
        width: 250px;
    }
}

#weather-dayTime {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    //grid-template-columns: auto auto auto auto;
    //column-gap: 5%;
    //row-gap: 5%;

    .weather-hourTime {
        background-color: mediumblue;
        box-shadow: 4px 4px deepskyblue;
        border-radius: 5px;
        padding: 10px;
        width: 160px;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 16px;

        .weather-date-hour {
            text-align: center;
            font-size: 30px;
            font-family: "Segoe UI Light";
        }

        .weather-icon {
            margin-left: auto;
            margin-right: auto;
            display: block;
            height: 150px;
        }

        .weather-temperature {
            font-size: 50px;
            text-align: center;
        }

        .weather-temperature-feels-like {
            text-align: center;
        }
    }
}

.weather-currentTime {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: cornflowerblue;
    box-shadow: 4px 4px darkslateblue;
    padding: 20px;
    font-family: "Segoe UI Light";
    display: grid;
    grid-template-columns: auto auto auto;

    .weather-date {
        letter-spacing: 5px;
    }

    .weather-date-hour {
        font-size: 50px;
    }

    .weather-temperature {
        font-size: 100px;
        text-align: right;
    }

    .weather-temperature-feels-like {
        font-size: 22px;
        text-align: right;
    }
    .weather-description {
        text-align: right;
    }

    .weather-icon {
        height: 200px !important;
    }
}

