body {
    background-color: lightslategrey;
    font-family: 'Tahoma';
    font-size: 20px;
    color: darkslateblue;
}

#dom {
    padding: 10px;
    border-radius: 10px;
    background-color: dodgerblue;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px darkblue;
}

input {
    font-size: 20px;
}

button {
    font-size: 20px;
    width: 100px;
}

ul {
    list-style: none;
}

ul li {
    display: grid;
    grid-template-columns: auto auto auto;
}

#search-item {
    margin-left: 20px;
    width: 75%;
}

#adding {
    margin-left: 20px;
}

.material-symbols-outlined:hover {
    cursor: pointer;
    color: black;
}
